In [ ]:
# 1.Python program to display the given integer in reverse manner
#           sample input : 1234
#           sample output : 4321

a = 1234
s = 0

while a > 0:
  res = a % 10
  s = (s * 10) + res
  a = a // 10

print(s)

4321

In [ ]:
# 2.Python program to find the sum of the digits of an integer using while loop
#              sample input : 1234
#              sample output : 10

a = 1234
s = 0

while a > 0:
  res = a % 10
  s = s + res
  a = a // 10

print(s)

10

In [ ]:
# 3.Python program to generate the prime numbers from 1 to 100
#            sample input : 7
#            sample output : is not a prime number

n = 8
c = 0

for i in range(1,n + 1):
  if n % i == 0:
    c = c + 1


if c == 2:
  print(f'{n} : is a prime number')
else:
  print(f'{n} : not a prime number')

8 : not a prime number

In [ ]:

for i in range(2,101):
  c = 0
  for j in range(1,i + 1):
    if i % j == 0:
      c = c + 1

  if c == 2:
    print(f'{i} : is a prime number')
  else:
    print(f'{i} : not a prime number')

2 : is a prime number
3 : is a prime number
4 : not a prime number
5 : is a prime number
6 : not a prime number
7 : is a prime number
8 : not a prime number
9 : not a prime number
10 : not a prime number
11 : is a prime number
12 : not a prime number
13 : is a prime number
14 : not a prime number
15 : not a prime number
16 : not a prime number
17 : is a prime number
18 : not a prime number
19 : is a prime number
20 : not a prime number
21 : not a prime number
22 : not a prime number
23 : is a prime number
24 : not a prime number
25 : not a prime number
26 : not a prime number
27 : not a prime number
28 : not a prime number
29 : is a prime number
30 : not a prime number
31 : is a prime number
32 : not a prime number
33 : not a prime number
34 : not a prime number
35 : not a prime number
36 : not a prime number
37 : is a prime number
38 : not a prime number
39 : not a prime number
40 : not a prime number
41 : is a prime number
42 : not a prime number
43 : is a prime number
44 : not a prime number
45 : not a prime number
46 : not a prime number
47 : is a prime number
48 : not a prime number
49 : not a prime number
50 : not a prime number
51 : not a prime number
52 : not a prime number
53 : is a prime number
54 : not a prime number
55 : not a prime number
56 : not a prime number
57 : not a prime number
58 : not a prime number
59 : is a prime number
60 : not a prime number
61 : is a prime number
62 : not a prime number
63 : not a prime number
64 : not a prime number
65 : not a prime number
66 : not a prime number
67 : is a prime number
68 : not a prime number
69 : not a prime number
70 : not a prime number
71 : is a prime number
72 : not a prime number
73 : is a prime number
74 : not a prime number
75 : not a prime number
76 : not a prime number
77 : not a prime number
78 : not a prime number
79 : is a prime number
80 : not a prime number
81 : not a prime number
82 : not a prime number
83 : is a prime number
84 : not a prime number
85 : not a prime number
86 : not a prime number
87 : not a prime number
88 : not a prime number
89 : is a prime number
90 : not a prime number
91 : not a prime number
92 : not a prime number
93 : not a prime number
94 : not a prime number
95 : not a prime number
96 : not a prime number
97 : is a prime number
98 : not a prime number
99 : not a prime number
100 : not a prime number

In [ ]:
# 4.Write a Python program to move spaces to the front of a given string
#   ex:
#        input = sai kamal
#        output = ' saikamal'

a = 'united states usa uk'
s = 0
t = ''
for i in a:
  if i == ' ':
    s = s + 1
  else:
    t = t + i


print(s*' '+t)

   unitedstatesusauk

In [2]:
# 5.Write a Python program to count Uppercase, Lowercase, special character and numeric values in a given string.
#                  sample input : data sCience 12444
#                  sample output :
#                  upper case : 1
#                  lower case : 10
#                  numbers : 5
#                  space : 2

t = 'data sCience 12444'
upper = 0
lower = 0
sp = 0
num = 0

for i in t:
  if i.isupper():
    upper = upper + 1
  elif i.islower():
    lower = lower + 1
  elif i.isnumeric():
    num = num + 1
  else:
    sp = sp + 1

print(f'Upper letter: {upper}')
print(f'Lower letter: {lower}')
print(f'Space : {sp}')
print(f'Numerical values : {num}')

Upper letter: 1
Lower letter: 10
Space : 2
Numerical values : 5

In [ ]:
# 6. L =  [ [ 12, 34, 25], [1, 45, 0] ]
#    find only the odd values from above list
#    Output = [25, 1, 45]

L =  [ [ 12, 34, 25], [1, 45, 0] ]

for i in L:
  for j in i:
    if j % 2 !=0:
      print(j)

25
1
45

In [4]:
# 7.`Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration print
#            the sum of the current number and previous number`
#  Expected output:
# -----------------
#       Printing current and previous number sum in a range(10)
#       Current Number 0 Previous Number  0  Sum:  0
#       Current Number 1 Previous Number  0  Sum:  1
#       Current Number 2 Previous Number  1  Sum:  3
#       Current Number 3 Previous Number  2  Sum:  5
#       Current Number 4 Previous Number  3  Sum:  7
#       Current Number 5 Previous Number  4  Sum:  9
#       Current Number 6 Previous Number  5  Sum:  11
#       Current Number 7 Previous Number  6  Sum:  13
#       Current Number 8 Previous Number  7  Sum:  15
#       Current Number 9 Previous Number  8  Sum:  17

p = 0
for i in range(10):
  print(f'Current value : {i} -> Previous value : {p} : sum value : {i + p}')
  p = i

Current value : 0 -> Previous value : 0 : sum value : 0
Current value : 1 -> Previous value : 0 : sum value : 1
Current value : 2 -> Previous value : 1 : sum value : 3
Current value : 3 -> Previous value : 2 : sum value : 5
Current value : 4 -> Previous value : 3 : sum value : 7
Current value : 5 -> Previous value : 4 : sum value : 9
Current value : 6 -> Previous value : 5 : sum value : 11
Current value : 7 -> Previous value : 6 : sum value : 13
Current value : 8 -> Previous value : 7 : sum value : 15
Current value : 9 -> Previous value : 8 : sum value : 17

In [ ]:
# 8. list1 = [10, 20, 30, 40]
#    list2 = [100, 200, 300, 400]
# Expected output:
# -----------------------------
#     10 400
#     20 300
#     30 200
#     40 100

a = [10, 20, 30, 40]
b = [100, 200, 300, 400]
c = b[::-1]

for i in range(len(a)):
  print(a[i] , c[i])

10 400
20 300
30 200
40 100

In [ ]:
a = []

if len(a) > 0:
  print('Not empty')
else:
  print('Empty')

Empty